@import url('https://fonts.googleapis.com/css?family=Roboto');

.product-title {
font-size: 20px; 
font-family: 'Roboto', sans-serif;
color: #acb8bf; 
}

.menu-icon {
    height: 100%;
}

.icon-container {
    width: 80%; 
    background-color: #d9e3e6; 
    float: left; 
    padding-top: 10px;  
    padding-bottom: 10px;    
}

.menu-boxes {
    width: 28%; 
    display: inline-block;
    margin: 10px; 
    align-items: center; 
}

.center {
    display: flex;
    align-items: center; 
}

.arrow-box {
    display: flex;
    flex-direction: column; 
    margin: 0px; 
}

.menu-container {
    width: 100%; 
}

.menu-title {
    font-size: 1.5em; 
    font-family: 'Roboto', sans-serif;
    color: #acb8bf; 
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.add-icon {
margin: 10px; 
}

.mini-menu {
    width: 100%; 
}

.mini-menu2 {
    float: right;
    margin-right: 5%; 
}

.mini {
    display: flex;
    height: 70px; 
}

.mini-icon {
    padding: 0px; 
    margin: 0px; 
}

.mini-icon2 {
    height: 50px; 
    margin-left: 20px; 
}

.arrow-down {
    width: 20px; 
}