@import url('https://fonts.googleapis.com/css?family=Roboto');

.ticket-box {
    background-color: #edf5f9;
    height: 100vh; 
    display: flex;
    justify-content: flex-end;
}

.ticket {
    background-color:#acb8bf; 
    width: 100%; 
    height: 70%;
    margin-top: 15%;
    box-shadow: -4px 10px 15px 5px grey;
    text-align: center; 
    padding: 15%;
    color: white;  
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
}

.total {
    background-color: #d9e3e6; 
}